<div class="wrapper">
  <div class="nav-container">
    <span>
      <nav class="navbar navbar-expand-lg bg-light">
        <img src="../../favicon.ico" height="60" width="60" (click)="home()"/>
        <button type="submit" class="btn btn-lg btn-success" id="toLogin" [hidden]="loggedIn" (click)="login()">Login</button>
        <button type="submit" class="btn btn-lg btn-success" id="toRegister" [hidden]="loggedIn" (click)="register()">Register</button>
        <button type="submit" class="btn btn-lg btn-success" id="toHome" [hidden]="logOut" (click)="home()">Home</button>
        <button type="submit" class="btn btn-lg btn-success" id="toLogout" [hidden]="logOut" (click)="logout()">Logout</button>
        <button type="submit" class="btn btn-lg btn-success" id="toTrending" [hidden]="logOut" (click)="trends()">Trending Articles</button>
        <button type="submit" class="btn btn-lg btn-success" id="toSearch" [hidden]="logOut" (click)="search()">Search for Articles</button>
        <button type="submit" class="btn btn-lg btn-success" id="toInterest" [hidden]="logOut" (click)="interest()">Add Interests</button>
        <button type="submit" class="btn btn-lg btn-success" id="toFavorite" [hidden]="logOut" (click)="favorites()">View Favorites</button>
        <p>Powered By: <b>NewsAPI</b></p>
      </nav>
    </span>
  </div>
</div>
<hr/>
