<div class="wrapper">
  <div class="nav-container">
    <div>
      <nav class="navbar navbar-expand-lg bg-light">
        <!-- <a class="navbar-brand" href="#"> -->
        <h1>ScoopShare</h1>
        <!-- </a> -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <button type="submit" class="btn btn-lg btn-success" id="toLogin" [hidden]="loggedIn" (click)="login()">Login</button>
            <button type="submit" class="btn btn-lg btn-success" id="toRegister" [hidden]="loggedIn" (click)="register()">Register</button>
            <button type="submit" class="btn btn-lg btn-success" id="toLogout" [hidden]="loggedIn" (click)="logout()">Logout</button>
            <select class="dropdown" id="quickLinks" [(ngModel)]="link" (blur)="quickLinks()">
              <option value="0">Nevermind</option>
              <option value="1">Trending Articles</option>
              <option value="2">Search for Articles</option>
              <option value="3">Go Back to Home Page</option>
            </select>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<hr/>
