<div class="card container col-md">
    <h1>Today's Top Stories for You</h1>
    <div class="card-body">
        <div *ngFor="let article of articles">
            <hr/>
            <p>
                <img class="card-img-top" [src]="article.urlToImage" 
                    alt="Image Not Found" height="60" width="60">
                {{ article.title }}
                <button class="btn btn-primary" (click)="getComments(article)">View</button>
                <a [href]="article.url">Original Article</a>
            </p>
        </div>
    </div>
</div>
