#data-container {
	padding: 25px;
	width: 25%;
	border-color: #BBBBBB;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background-color: darkgray;
	border-color: #BBBBBB;
	margin: auto;
	text-align: center;
}

.btn {
	background-color: aquamarine;
	margin-top: 15px;
}

.form-group {
	margin-bottom: 7px;
}
