body {
	margin-right: 50px;
	margin-left: 50px;
	background-color:rgba(255,200,0,0.1);
}

h2 {
	margin-bottom: 5px;
}

h3 {
	margin-bottom: 20px;
}

.nav-container {
	padding-bottom: 100px;
}

#data-container {
	padding: 25px;
	width: 40%;
	border-color: #BBBBBB;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background-color: #CCCCCC;
	border-color: #BBBBBB;
}

.navbar {
	background-color: #CCCCCC !important;
}